# vim swap files
*.swp

# python script caches, found in the utils/ directory
*__pycache__*

# files of code in other languages in order to take inspiration from them
# also the katsel scratch file that I use to mess around with
_v*

# no DS_Store files please
**/.DS_Store

# python scripts that use libclang to search for certain AST elements through the source code,
# so that I can easily make sweeping changes throughout the entire codebase
finds/*
