# vim swap files
*.swp

# files of code in other languages in order to take inspiration from them
# also the katsel scratch file that I use to mess around with
_v/*

# no DS_Store files please
**/.DS_Store

# from the gitignore Haskell template
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
