# vim swap files
*.swp

# python script caches, found in the utils/ directory
*__pycache__*

# files of code in other languages in order to take inspiration from them
_v*

# no DS_Store files please
**/.DS_Store

# python script that uses libclang to search for certain AST elements through the source code,
# so that I can easily make sweeping changes throughout the entire codebase
find.py
